@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}

section.projects {
  height: fit-content;
  margin-top: 10vh;
}

.projectsContainer.top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: min-content;
  overflow: visible;
  position: relative;
  scroll-margin-top: 30px;
  width: 75vw;
  margin: auto;
  gap: 20px;
  justify-items: center;
}

div.projectsTitle {
  width: 94vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}
.projectsTitle img {
  width: 40px;
  height: auto;
  padding-left: 1vw;
}

.projectsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--transparent-bg);
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  height: 100%;
  /* position: relative; */
  overflow: hidden;
  padding: 1rem;
}

.projectsCard.grain::after {
  background-image: url("./assets/images/grain.png");
  content: "";
  position: absolute;
  background-position: fixed;
  background-size: cover;
  left: -50%;
  top: -50%;

  animation: grain 1.5s steps(6) infinite;
}

.techIcons img {
  width: 2rem;
  margin: 0 0.5rem;
}

.projectsCard button {
  margin: 1rem 0.3rem;
}

.cardCTAs {
  display: flex;
  /* flex-basis: 33%; */
}

.projectCTA {
  font-size: 0.6rem;
}

.vidContainer {
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.vidContainer > div > img {
  border-radius: 4px;
}

.projectImg img {
  flex-direction: column;
  /* width: 200px; */
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .projectsCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-bg);
  }
}

@media screen and (min-width: 1200px) {
  .projectsCard {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
