.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.profile-img {
  height: 20rem;
  width: auto;

  border-radius: 5px;
}

.about {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 5px;
}

.about h1 {
  margin-bottom: 0.5rem;
}
.about p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

@media screen and (min-width: 800px) {
  .hero {
    display: flex;
    flex-direction: row;
  }
}
