/* img.project{
    
} */

/* coming--soon 
project--link 
image--zoom  */

.portfolio > .left-layout,
.portfolio > .right-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.project-link {
  position: relative; /* to allow for positioning of child elements */
  height: 100vh;
  overflow: hidden; /*to clip image zoom */
}

.project-link:hover .project-image {
  transform: scale(); /* Counteract the scaling on hover */
  /* transform-origin: center center; */
}

.project-image-big {
  overflow: clip;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.project-image-small {
  overflow: clip;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.project-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* .project-link.small {
  background-size: contain;
} */

/* big image on left layout  */
.big-left {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.small-left {
  grid-row: 1;
  grid-column: 5 / span 2;
}

.small-2-left {
  grid-row: 1;
  grid-column: 7 / span 2;
}
/* big image on right layout  */
.small-right {
  grid-row: 2;
  grid-column: 3 / span 2;
}
.small-2-right {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.big-right {
  grid-row: 2;
  grid-column: 5 / span 4;
}
