.hero {
  visibility: hidden;
  display: flex;
  flex-direction: column;

  .heroContainer {
    max-width: 98vw;
    margin: 0 auto;

    .hero-inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 5rem 1rem 5rem 1rem;
      max-height: 65vh;

      .hero-content {
        width: 90%;
        display: flex;
        flex-direction: column;

        .hero-content-inner {
          display: flex;
          color: var(----link-color);
          margin: 0 auto;
          height: 45vh;
          justify-content: space-around;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;

          h2 {
            font-size: 2rem;
            margin-bottom: 1rem;

            .hero-content-line {
              margin: 0;
            }
          }
          p {
            font-size: 0.8rem;
            line-height: 1.4rem;
          }
        }

        .hero-image {
          width: 50%;
          height: 100%;
          position: relative;

          .hero-image-inner {
            position: absolute;
            overflow: hidden;
            top: 0;
            right: 0;
            // width: 45%;
            // height: 50%;

            img.profile-img {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              max-width: 300px;
              height: auto;
            }
          }
        }
      }
    }

    .heroContainer {
      .hero-inner {
        flex-direction: column;
        .hero-content {
          width: 90%;
        }
      }
    }
    img.profile-img {
      width: 50%;
    }
  }
}

div.marquee-container {
  margin-top: 3rem;
  transform: translateY(-2rem);
}

div.child h1 {
  font-size: 4rem;
}

@media screen and (min-width: 800px) {
  section.hero {
    div.heroContainer {
      div.hero-inner {
        min-height: 66vh;
        flex-direction: row;
        align-items: flex-end;
        .hero-content {
          .hero-content-inner {
            h2.about-title {
              font-size: 2rem;
            }
          }
        }
        .hero-image {
          .hero-image-inner {
            img.profile-img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  div.marquee-container {
    margin-top: -3rem;
    transform: translateY(5rem);
  }

  div.child h1 {
    font-size: 6rem;
  }
}

section.homeContact {
  width: 90vw;
  margin: 2rem auto;
}

.homeContact > form {
  background-color: var(--transparent-bg);
}

@media screen and (min-width: 940px) {
  div.marquee-container {
    margin-top: -2rem;
    transform: translateY(2rem);
  }
}

@media screen and (min-width: 1200px) {
  div.marquee-container {
    margin-top: 1rem;
    transform: translateY(0rem);
  }
}

@media screen and (min-width: 1200px) {
  div.marquee-container {
    margin-top: 4rem;
    transform: translateY(-2rem);
  }
}
