.contactBackground {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background-color: rgba(1, 1, 1, 0);
}

.contactForm {
  padding: 2rem 2rem;

  color: var(--link-dec);

  justify-items: center;
  z-index: 1;
  top: 5vh;
  position: fixed;

  margin: 0 auto;
  left: 0;
  right: 0;
}

form {
  z-index: 2;
  height: fit-content;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid;
  border-radius: 4px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: var(--link-dec) 0.5em 0.5em 0em;
}

.contactImg img {
  max-width: 92vw;
}

.contactForm > form button {
  margin: 0 auto 0 0.5rem;
}
.contactForm > form input {
  width: 100%;
}

textarea#message {
  margin-bottom: 2rem;
  width: 100%;
  height: 5rem;
  color: var(--border-color);
}

.contactMsg {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 800px) {
  .contactForm {
    max-width: 70vw;
    top: 15%;
  }
  textarea {
    width: 30vw;
    height: 10rem;
  }

  .contactImg img {
    max-width: 50vw;
  }
}
