ul {
  list-style-type: none;
}

h1.logo {
  text-transform: uppercase;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #fffff8;
}

nav a {
  text-decoration: none;
  color: #0e0e0e;
  transition: 0.3s ease;
}

nav a:hover {
  color: limegreen;
  border-bottom: 2px solid limegreen;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 700;
}

.burger-menu {
  color: #0e0e0e;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

body {
  font-family: "Work Sans", sans-serif;
}
