ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
/* nav  layout */
nav {
  position: fixed;
  width: 100vw;
  z-index: 99;
  top: 0;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--transparent-bg);
  backdrop-filter: blur(2px);
}

.logo h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.1rem;
  /* color: #0e0e0e; */
  flex: 1;
}

/* navigation 
  links layout (not logo)*/
.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  width: 94vw;
}

/* nav decoration */
.navigation a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  text-decoration: none;
  /* color: #0e0e0e; */
  transition: 0.5s ease;
  overflow: hidden;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--link-dec);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.navigation a:hover::after,
.navigation a:focus::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  /* border-bottom: 1px solid #0e0e0e; */
}

.navigation ul {
  display: flex;
  /* gap: 1.9rem; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.9rem;
}

.navigation ul li {
  font-weight: 500;
}

.navigation a.title {
  font-weight: 700;
}

.navigation a.title:hover::after,
.navigation a.title:focus::after {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

/* Default styles for larger screens */
.burger-menu-container {
  display: none;
}

.burger-menu {
  color: #0e0e0e;
  font-size: 2rem;
  display: block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 30%;
  z-index: 999;
}

.burger-menu .line {
  width: 30px;
  height: 1px;
  background-color: var(--text-color);
  margin: 6px 0;
  transition: 0.4s;
}

.burger-menu.cross .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.burger-menu.cross .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.cross .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.custom-burger-icon {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.custom-burger-icon.hidden {
  opacity: 0;
  transform: scale(0);
}

.custom-burger-icon.burger-open {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease;
}

/* Add styles for mobile navigation menu */
.burger-menu-content {
  position: absolute;
  width: 50vw;
  height: 100vh;
  top: 0px;
  right: 0;
  background-color: var(--burger-bg);
  z-index: 2;
  border: 1px solid #0e0e0e;
  padding: 10px;
  /* display: none; */
  flex-direction: column;
  /* overflow: hidden; */
}

.burger-menu-content a {
  text-decoration: none;
  border: 1px solid #0e0e0e;
  color: #0e0e0e;
  padding: 5px;
  line-height: 2rem;
  transition: 0.3s ease;
  margin: 1rem;
  display: flex;
  width: 80%;
}

.burger-menu-content > div.topNavItem {
  margin-top: 50px;
}

.burger-menu-content a:hover {
  /* color: limegreen; */
  border-bottom: 3px solid #0e0e0e;
}

button.burger-menu:hover {
  background-color: transparent;
}
/* Media query for mobile view (adjust the max-width as needed) */
@media (max-width: 768px) {
  .burger-menu-container {
    display: block;
    z-index: 99;
  }
  /* .burger-menu {
    right: 5%;
    top: 30%;
  } */
}
