ul {
  list-style-type: none;
}

ul.navigation {
  padding-left: 0;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.1rem;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #fffff895;
  flex-direction: row;
  backdrop-filter: blur(2px);
}

nav a {
  text-decoration: none;
  color: #0e0e0e;
  transition: 0.3s ease;
}

nav a:hover {
  color: limegreen;
  border-bottom: 2px solid limegreen;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 500;
}

.burger-menu-content {
  position: absolute;
  top: 60px; /* Adjust the position as needed */
  right: 0;
  background-color: #ffffff;
  z-index: 2;
  border: 1px solid #0e0e0e;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.burger-menu-content a {
  text-decoration: none;
  color: #0e0e0e;
  padding: 5px;
  transition: 0.3s ease;
}

.burger-menu-content a:hover {
  color: limegreen;
}

.burger-menu {
  color: #0e0e0e;
  font-size: 2rem;
  display: block; /* Make the button visible */
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.bars {
  font-size: 2rem;
  color: #0e0e0e;
}

/* Default styles for larger screens */
.burger-menu-container {
  display: none; /* Hide on larger screens */
}

/* Media query for mobile view (adjust the max-width as needed) */
@media (max-width: 768px) {
  .burger-menu-container {
    display: block; /* Show on smaller screens */
  }
}
