footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: var(--transparent-bg);
}

.footerContainer {
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.2rem 0;
}

p {
  font-size: 0.6rem;
}
