@font-face {
  font-family: "AzeretMono-Regular";
  src: url("../fonts/AzeretMono-Regular.woff2") format("woff2");

  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("../fonts/ClashGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("../fonts/ClashGrotesk-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: #161616;
  background-color: #fffff8;
  font-family: "AzeretMono-Regular", monospace;
  letter-spacing: 0.02rem;
  font-size: 0.8rem;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: "ClashGrotesk-Semibold";
}

a {
  color: red;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

@keyframes glow {
  0% {
    box-shadow: rgb(251, 251, 251) 0 0 0px;
  }
  100% {
    box-shadow: rgb(251, 251, 251) 0 10px 100px;
  }
}
