body {
  color: #000;
  background-color: #fffff8;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

@keyframes glow {
  0% {
    box-shadow: rgb(251, 251, 251) 0 0 0px;
  }
  100% {
    box-shadow: rgb(251, 251, 251) 0 10px 100px;
  }
}
